<%- include('_header') %>
    <center>
      <div>
        <br />
        <h2><%=__('Unauthorized user') %></h2>
        <h2>⛔</h2>
        <h3><%=__('401- Unauthorized') %></h3>
        <h4>
          <%=__('You must authenticate first to enter the application') %>
        </h4>
        <script></script>
        <br /><button>
          <a href="/login" style="text-decoration: none"><%=__('Log In') %></a>
        </button>
        <br />
        <hr />
      </div>
    </center>
  
</html>
